body {
    font-family: "Open Sans";
    font-size: medium;
}

fieldset {
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 600px;
    height: 200px;
    float: right;

    font-size: medium;

    margin-right: 400px;
}

input {
    width: 600px;
    float: right;

    font-family: "Open Sans";
    font-size: medium;

    margin-right: 400px;
}


input[type="button"] {
    width: 200px;
    float: right;
    margin-top: 10px;
}


.icon-star {
    width: auto;
    display: inline-block;
    float: inherit;

    margin-right: 0px;
}

#starRating > label {
    font-family: "Open Sans";
    font-size: 16px;
    color: #333;
}