/*header*/
header {
    margin-bottom: 24px;
}

header nav {
    display: flex;

    margin-top: 12px;
}

header nav a {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    padding: 6px 12px;

    font-family: "Playfair Display Bold";
}

header nav a:first-of-type,
header nav a:first-child {
    border-left: 1px solid #ccc;
}

header nav .color-select-area {
    height: 36px;
    padding: 6px 12px;

    margin-left: auto;
}

/*notes*/
.note {
    background-color: #dfdfdf;
    
    box-shadow: 4px 4px 4px #aaa;

    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 12px;
    margin-bottom: 18px;
}

.note .header {
    display: flex;

    border-bottom: 1px solid #bfbfbf ;

    padding-bottom: 6px;
    margin-bottom: 12px;
}

.note .header .date,
.note .content-area .status {
    width: 24%;
}

.note .header .title,
.note .content-area textarea {
    width: 62%;
}

.note .header .importance,
.note .content-area button {
    margin-left: auto;
}

.note .header .date {
    color: crimson;
}

.note .header .title {
    font-family: "Open Sans Bold";
}

.note .content-area {
    display: flex;
}

.note .content-area .status input {
    margin-right: 6px;
}

.note .content-area textarea {
    height: 120px;

    border: 1px solid #bfbfbf;

    padding: 12px;
}