body {
    max-width: 978px;

    margin: 0 auto;
    padding: 36px;
}

* {
    font-family: "Open Sans";
    font-size: 18px;
}

h1 {
    font-family: "Gloria Hallelujah", cursive;
    text-align: center;
    font-size: 2em;
}

h2 {
    font-family:"Gloria Hallelujah", cursive;
    font-size: 18px;
    font-weight: normal;
    text-align: center;

    margin: 0 auto;
}

fieldset {
    border: 0;
    margin-bottom: 24px;
}

label,
legend {
    font-family: "Open Sans Bold";
    
    display: block;
    margin-bottom: 6px;
}

input,
textarea {
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 640px;

    padding: 4px 6px;
}

textarea {
    height: 200px;
}

input[type="radio"] {
    -webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
}

input[type="button"] {
    height: 36px;
    background-color: dimgray;

    border: none;

    box-shadow: 2px 6px 6px #999;

    padding: 6px 18px;
    margin-bottom: 12px;
}

#finishDate,
#saveButton,
#cancelButton {
    width: 262px;
}

fieldset:last-child, 
fieldset:last-of-type {
    display: flex;
}

/*starRating*/
.rating {
    float: left;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    width: 24px;
    
    float: right;
    
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    
    font-size: 150%;
    line-height: 1.2;
    color:  #dfdfdf;
    
    margin-right: 3px;
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: crimson;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: crimson;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: crimson;
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}