@font-face {
  font-family: "Editor Icons";
  src: url("fonts/icons/editor-icons.eot");
  src: url("fonts/icons/editor-icons.eot?#iefix") format("embedded-opentype"),
       url("fonts/icons/editor-icons.woff") format("woff"),
       url("fonts/icons/editor-icons.ttf") format("truetype"),
       url("fonts/icons/editor-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans/OpenSans-Light.eot");
  src: url("fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans/OpenSans-Light.woff") format("woff"),
       url("fonts/OpenSans/OpenSans-Light.ttf") format("truetype"),
       url("fonts/OpenSans/OpenSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans/OpenSans-Regular.eot");
  src: url("fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
       url("fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
       url("fonts/OpenSans/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("fonts/OpenSans/OpenSans-Bold.eot");
  src: url("fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
       url("fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"),
       url("fonts/OpenSans/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay/PlayfairDisplay.eot");
  src: url("fonts/PlayfairDisplay/PlayfairDisplay.eot?#iefix") format("embedded-opentype"),
       url("fonts/PlayfairDisplay/PlayfairDisplay.woff") format("woff"),
       url("fonts/PlayfairDisplay/PlayfairDisplay.ttf") format("truetype"),
       url("fonts/PlayfairDisplay/PlayfairDisplay.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
       url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"),
       url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype"),
       url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

* {
   /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*="icon-"] {
    font-family: "Editor Icons";

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    vertical-align: baseline;

    margin-right: 4px;
}

.icon-delete:before {
  content: "\5e";
}
.icon-check-box:before {
  content: "\28";
}
.icon-check-box-outlined:before {
  content: "\29";
}
.icon-assignment:before {
  content: "\22";
}
.icon-assignment-turned-in:before {
  content: "\2a";
}
.icon-new-message:before {
  content: "\27";
}
.icon-edit:before {
  content: "\2b";
}
.icon-pin:before {
  content: "\21";
}
.icon-feather:before {
  content: "\3f";
}
.icon-cross:before {
  content: "\60";
}
.icon-star:before {
  content: "\25";
}
.icon-chevron-down:before {
  content: "\31";
}
.icon-chevron-left:before {
  content: "\32";
}
.icon-chevron-right:before {
  content: "\33";
}
.icon-chevron-up:before {
  content: "\34";
}
.icon-add-to-list:before {
  content: "\35";
}
.icon-calender:before {
  content: "\36";
}
.icon-star-outlined:before {
  content: "\3d";
}