body {
	font-size: 18px;

	max-width: 1024px;

	margin: 0 auto;
	padding: 12px;
}

a {
	text-decoration: none;
}

select {
	border: none;

	-webkit-appearance:none;
    -moz-appearance:none;

    cursor: pointer;
}

button {
	height: 36px;

    border: none;

    box-shadow: 2px 3px 3px #999;
    
    font-family: "Open Sans Light";
	
	padding: 8px;
}

button,
textarea {
	border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    font-size: 14px;
}

button:hover {
	cursor: pointer;
}