body {
    font-family: "Open Sans";
    font-size: 18px;

    max-width: 978px;

    margin: 0 auto;
    padding: 36px;
}

fieldset {
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    width: 600px;
    height: 200px;
    float: right;

    font-family: "Open Sans";
    font-size: 18px;

    margin-right: 400px;
}

input {
    width: 600px;
    float: right;

    font-family: "Open Sans";
    font-size: 18px;

    margin-right: 400px;
    margin-top: 10px;
}

input[type="radio"] {
    -webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
}

input[type="button"] {
    height: 36px;
    background-color: dimgray;

    border: none;

    box-shadow: 2px 6px 6px #555;

    padding: 6px 18px;
    margin-bottom: 12px;

}

#finishDate {
    width: 200px;
    margin-right: 800px;
}

#cancelButton {
    width: 200px;
}

.rating {
    float: left;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    width: 24px;
    
    float: right;
    
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    
    font-size: 150%;
    line-height: 1.2;
    color:  #dfdfdf;
    
    margin-right: 3px;
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: crimson;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: crimson;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: crimson;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}