/*header*/
* {
    font-family: "Open Sans";
}

h1 {
    font-family: "Gloria Hallelujah", cursive;
    text-align: center;
}

h2 {
    font-family:"Gloria Hallelujah", cursive;
    font-size: 18px;
    font-weight: normal;
    text-align: center;

    margin: 0 auto;
}

header {
    margin-bottom: 24px;
}

header nav {
    display: flex;
    flex-wrap: wrap;

    font-family: "Open Sans Bold";
    font-size: 14px;

    margin-top: 12px;
}

header nav > span {
    max-width: 136px;
    padding: 6px 12px;

    flex: 1;

    position: relative;
}

header nav span:hover {
    cursor: pointer;
}

header nav select {
    font-size: 14px;
}

header nav [class*='icon-'] {
    font-size: 18px;
    line-height: 12px;
    vertical-align: sub;

    position: absolute;
    right: 0;
    bottom: 0;

    padding-top: 24px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 90px;
}

header nav [class*='icon-']:hover {
    background: none;
}

/*notes*/
#notes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.note {
    box-shadow: 4px 4px 4px #aaa;

    border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 12px 12px 24px 0;
    margin-right: 24px;
    margin-bottom: 18px;

    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    min-width: 280px;
    max-width: 320px;
}

.note .header {
    border-bottom: 1px solid #bfbfbf ;

    padding-bottom: 6px;
    margin-bottom: 12px;

    font-family: "Open Sans Light";
}

.note .header p:nth-child(2),
.note .header p:nth-child(3) {
    display: flex;
    flex-direction: column;

    font-size: 14px;

    margin-bottom: 6px;
}

.note .header p:first-of-type,
.note .header p:first-child {
    display: flex;
}

.note .header .date {
    margin-right: 4px;
}

.note .header .importance,
.note .content-area button {
    margin-left: auto;
}

.note .header .status input {
    display: none;
}

.note .header .status input[type="checkbox"]:checked + .icon-check-box-outlined:before {
    content: "\28";
}

.note .header .title {
    font-family: "Open Sans Bold";
    margin-bottom: 12px;
}

.note .content-area .finished input {
    margin-right: 6px;
}

.note .content-area p {
    font-family: "Gloria Hallelujah", cursive;
    margin-bottom: 12px;
}

@media only screen and (max-device-width : 768px) {
    header nav {
        font-size: 12px;
    }

    header nav [class*='icon-'] {
        font-size: 12px;
        
        padding-top: 24px;
        padding-right: 0;
        padding-bottom: 10px;
        padding-left: 70px;
    }

    header nav select {
        font-size: 12px;
    }
}