@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kg0ycd');
	src:url('fonts/icomoon.eot?#iefixkg0ycd') format('embedded-opentype'),
		url('fonts/icomoon.ttf?kg0ycd') format('truetype'),
		url('fonts/icomoon.woff?kg0ycd') format('woff'),
		url('fonts/icomoon.svg?kg0ycd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
	content: "\5e";
}
.icon-check-box:before {
	content: "\28";
}
.icon-check-box-outlined:before {
	content: "\29";
}
.icon-assignment:before {
	content: "\22";
}
.icon-assignment-turned-in:before {
	content: "\2a";
}
.icon-new-message:before {
	content: "\27";
}
.icon-edit:before {
	content: "\2b";
}
.icon-pin:before {
	content: "\21";
}
.icon-feather:before {
	content: "\3f";
}
.icon-cross:before {
	content: "\60";
}
.icon-star:before {
	content: "\25";
}
.icon-chevron-down:before {
	content: "\31";
}
.icon-chevron-left:before {
	content: "\32";
}
.icon-chevron-right:before {
	content: "\33";
}
.icon-chevron-up:before {
	content: "\34";
}
.icon-add-to-list:before {
	content: "\35";
}
.icon-calender:before {
	content: "\36";
}
.icon-star-outlined:before {
	content: "\3d";
}
